body {
	margin: 20px;
	padding: 0px;
	color:  #ffffff;
	background-image: url(./strip_basketball__by_swiftcreekphotos-darwksn.jpg);
	font-size: small;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #ffbf00;
}

footer {
	background-color: #ffbf00;        /* Hintergrundfarbe für die Navigation */
	padding-top: 33px;
	padding-bottom: 33px;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid #668BCC;    /* Rahmenlinie oben */
  border-bottom: 3px solid #668BCC; /* Rahmenlinie unten */
	background-image: url('./basketball.png');
	background-size: 200px;
	background-repeat: repeat repeat;
}

td {
	border:1px solid black;
}

caption {
	text-align: left;
	color: black;
	padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
	font-size: 50px;
	font-family:fantasy;
}


#navibereich li {
  display: inline;
  list-style-type: none;
}

#navibereich {
  background-color: #ffbf00;        /* Hintergrundfarbe für die Navigation */
	padding-top: 15px;
	padding-bottom: 15px;                 /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid #668BCC;    /* Rahmenlinie oben */
  border-bottom: 3px solid #668BCC; /* Rahmenlinie unten */
  margin: 0;                        /* Keinen Außenabstand */
}

#navibereich a {
  color: black;                  /* Schriftfarbe schwarz */
  text-decoration: none;         /* Unterstreichung entfernen */
  padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
	font-size: 20px;
	font-family:fantasy;
}

#navibereich a:hover {
  background-color: #EDEDF8;
}

#players #navi03 a {    /* ohne Komma am Ende */
  background-color: #c3d9ff;
}
#grey {
	color: black;
	margin-left: 39%;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: rgba(255, 191, 0, 0.56);
	border: 5px solid black;
	border-radius: 18px;
	width: 300px;
	font-family: fantasy;
}

#text {
	margin: 5px;
}

#formular {
	font-size: 15px;
	margin: 5px;
}

#tabellenbox {
	color: black;
	margin-top: 15px;
	/*margin-left: 39%;*/
	margin-bottom: 15px;
	background-color: rgba(255, 191, 0, 0.56);
	border: 5px solid black;
	border-radius: 18px;
	width: 500px;
}

#playerTableStyle{
	 border: 4px solid black;
	 margin: 8px;
	 font-family:fantasy;
	 font-size: 15px;
}

#button {
	margin-left: 75%;
	margin top: 2%;
	margin-bottom: 2%;
	border: 2px solid black;
}
