body {
	background-image: url(./IbDXxHpmED-1920x1080.jpg);
	background-size: 1440px 900px;
}

header {
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

footer {
	background-color:rgba(255, 191, 0, 0.56);
	padding-top: 33px;
	padding-bottom: 33px;
  border-top: 3px solid #668BCC;
  border-bottom: 3px solid #668BCC;
	background-image: url('./basketball.png');
	background-size: 200px;
	background-repeat: repeat repeat;
}

td {
	border:1px solid black;
}

caption {
	text-align: left;
	color: black;
	padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
	font-size: 50px;
	font-family:fantasy;
}

.switched {
  position: relative;
  display: inline-block;
  height: 34px;
	/*width=340px*/
}

.switched input {display:none;}

.slider {
  position: absolute;
  top: 0;								/*Wieso wird der gebraucht, damit man einen festen Punkt hat wo man wieder hinspringen kann */
  left: 0;
  right: 0;
  bottom: 0;
	background-color: rgba(200, 0, 0, 0);
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 245px;
	margin-top: 2px;
	margin-bottom: 2px;
  background-color: rgba(255, 191, 0, 0);
  transition: .4s;
	border: 3px solid black;
	text-align: center;
}


input:checked + .slider:before { /*Nachbarselektor .slider:before wird nur angesprochen, wenn Nachbar von checked Box */
  transform: translateX(200px); /*D.h immer wenn checked=true wird diese Zeile aktiv, da ja dann beide Nachbarn sind 
																	zweites wird immer gemeint */
}

#navibereich li {
  display: inline;
  list-style-type: none;
}

#navibereich {
  background-color: rgba(255, 191, 0, 0.56);        /* Hintergrundfarbe für die Navigation */
	padding-top: 15px;
	padding-bottom: 15px;                 /* Innenabstand: oben/unten 4px, li/re 0 */
  border-top: 3px solid #668BCC;    /* Rahmenlinie oben */
  border-bottom: 3px solid #668BCC; /* Rahmenlinie unten */
  margin: 0;                        /* Keinen Außenabstand */
}

#navibereich a {
  color: black;                  /* Schriftfarbe schwarz */
  text-decoration: none;         /* Unterstreichung entfernen */
  padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
	font-size: 20px;
	font-family:fantasy;
}

#navibereich a:hover {
  background-color: #EDEDF8;
}

#players #navi03 a {    /* ohne Komma am Ende */
  background-color: #c3d9ff;
}
#grey {
	color: black;
	margin-top: 60px;
	margin-bottom: 15px;
	background-color: rgba(255, 191, 0, 0.56);
	border: 5px solid black;
	border-radius: 18px;
	width: 300px;
	font-family: fantasy;

}

#text {
	margin: 5px;
}

#formular {
	font-size: 15px;
	margin: 5px;
}

#tabellenbox {
	color: black;
	margin-top: 60px;
	margin-bottom: 15px;
	background-color: rgba(255, 191, 0, 0.56);
	border: 5px solid black;
	border-radius: 18px;
	width: 500px;
}

#playerTableStyle{
	 margin: 8px;
	 font-family:fantasy;
	 font-size: 15px;
	 border: 5px solid black;
	 border-collapse: collapse;
	 width: 470px;
}

#All {
	text-align: right;
	margin-right: 150px;
}

#Favorites {
	margin-left: 75px;
	margin-top: 8px;
}

#starttext{
	color: black;
	margin-top: 60px;
	margin-bottom: 15px;
	background-color: rgba(255, 191, 0, 0.56);
	border: 5px solid black;
	border-radius: 18px;
	width: 300px;
	font-family: fantasy;
	font-size: 20px;
	text-align: center;
}

#button {
	margin-left: 75%;
	margin top: 2%;
	margin-bottom: 2%;
	border: 2px solid black;
}
